

.container-all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


.summer-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.summer-chart .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
   width: 450px;
}
.summer-chart .container .title h3 {
  color: #E9521B;
  z-index: 5;
  font-size: 24px;
}
.summer-chart .container .title span {
  position: relative;
  margin-top: -10px;
  margin-left: 8px;
  font-weight: 300;
}
.summer-chart .container .title div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.summer-chart .container .title div .icon {
  z-index: 1;
}
.summer-chart .container .title div .icon img {
  width: 35px !important;
  height: 35px !important;
  margin-top: -15px;
}
.summer-chart .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
}
.summer-chart .chart .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summer-chart .chart .container .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 450px;
}
.summer-chart .chart .container .content .chart-box {
  display: flex;
  align-items: flex-end;
  gap: 45px;
  width: 450px;
}
.summer-chart .chart .container .content .chart-box .kwh {
  width: 90px;
  display: flex;
  transform: rotate(35deg);
  margin-bottom: 50px;
}
.summer-chart .chart .container .content .chart-box .kwh .cent {
  transform: rotate(-35deg);
  margin-top: -4px;
  font-size: 53px;
  font-weight: 600;
}
.summer-chart .chart .container .content .chart-box .kwh .cent-line {
  width: 1px;
  height: 76px;
  /* margin: 0 6px; */
  background-color: black;
}
.summer-chart .chart .container .content .chart-box .kwh .kwh-text {
  transform: rotate(-35deg);
  margin-top: 38px;
  margin-left: 11px;
}
.summer-chart .chart .container .content .chart-box .chartB {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
}
.summer-chart .chart .container .content .chart-box .chartB span {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.summer-chart .chart .container .content .chart-box .first {
  height: 80px;
  background: linear-gradient(180deg, #FCA90B 0%, #F8BF00 100%);
}
.summer-chart .chart .container .content .chart-box .center {
  height: 170px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,148,0,1) 0%, rgba(233,82,27,1) 100%);
}
.summer-chart .chart .container .content .chart-box .over {
  height: 180px;
  background: #E6181C;
}
.summer-chart .chart .container .content .line {
  width: 100%;
  height: 1px;
  opacity: 0.8;
  margin: 21px 0 25px;
  background-color: #cccccc;
}
.summer-chart .chart .container .spec-chart {
  font-weight: 400;	
  display: flex;
  max-width: 440px;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}
.summer-chart .chart .container .spec-chart span {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.summer-chart .chart .container .spec-chart span:first-child {
  width: 280px;
}
.summer-chart .chart .container .spec-chart span:nth-child(n+2) {
  width: 120px;
}
.summer-chart .chart .container .price {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}








.winter-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.winter-chart .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  width: 450px;
}
.winter-chart .container .title h3 {
  color: #00B4EF;
  z-index: 5;
  font-size: 24px;
}
.winter-chart .container .title span {
  position: relative;
  margin-top: -10px;
  margin-left: 8px;
  font-weight: 300;
}
.winter-chart .container .title div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.winter-chart .container .title div .icon {
  z-index: 1;
}
.winter-chart .container .title div .icon img {
  width: 35px !important;
  height: 35px !important;
   margin-top: -15px;
}
.winter-chart .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:55px;
}
.winter-chart .chart .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.winter-chart .chart .container .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 450px;
}
.winter-chart .chart .container .content .chart-box {
  display: flex;
  align-items: flex-end;
}
.winter-chart .chart .container .content .chart-box .kwh {
  width: 90px;
  display: flex;
  transform: rotate(35deg);
  margin-bottom: 50px;
}
.winter-chart .chart .container .content .chart-box .kwh .cent {
  transform: rotate(-35deg);
  margin-top: -4px;
  font-size: 53px;
  font-weight: 600;
}
.winter-chart .chart .container .content .chart-box .kwh .cent-line {
  width: 1px;
  height: 76px;
  /* margin: 0 6px; */
  background-color: black;
}
.winter-chart .chart .container .content .chart-box .kwh .kwh-text {
  transform: rotate(-35deg);
  margin-top: 38px;
  margin-left: 11px;
}
.winter-chart .chart .container .content .chart-box .chartB {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
}
.winter-chart .chart .container .content .chart-box .chartB span {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.winter-chart .chart .container .content .chart-box .center {
  height: 100px;
  background: #00B5EF;
}
.winter-chart .chart .container .content .line {
  width: 100%;
  height: 1px;
  opacity: 0.8;
  margin: 21px 0 25px;
   background-color: #cccccc;
}
.winter-chart .chart .container .spec-chart {
  display: flex;
  width: 440px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.winter-chart .chart .container .spec-chart span {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}
.winter-chart .chart .container .price {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-align: center;
  width: 450px;
}







@media only screen and (min-width: 650px) and (max-width: 873px) {
	.summer-chart {
	  max-width: 100%;
	}  
	.summer-chart .container .title h3 {
    font-size: 32px;
  }
  .summer-chart .container .title div .icon {
    z-index: 1;
  }
  .summer-chart .container .title div .icon img {
    width: 70px;
  }

.summer-chart .chart .container .content .chart-box .kwh .cent {
  
  margin-top: -4px;
  font-size: 25px;
  font-weight: 600;
}	
	
	
	
	
	.winter-chart {
  max-width: 100%;
}
  .winter-chart .container .title h3 {
    font-size: 32px;
  }
  .winter-chart .container .title div .icon {
    z-index: 1;
  }
  .winter-chart .container .title div .icon img {
    width: 70px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 650px) {
	.summer-chart {
	  max-width: 100%;
	}  

	.summer-chart .container .title h3 {
    font-size: 22px;
  }
  .summer-chart .container .title span {
    margin-top: -1px;
  }
  .summer-chart .container .title div .icon {
    z-index: 1;
  }
  .summer-chart .container .title div .icon img {
    width: 55px;
  }
  .summer-chart .chart .container .content {
    width: 380px;
  }
  .summer-chart .chart .container .content .chart-box {
    gap: 19px;
  }
  .summer-chart .chart .container .content .chart-box .chartB {
    width: 65px;
  }
  .summer-chart .chart .container .content .chart-box .chartB span {
    font-size: 23px;
  }
  .summer-chart .chart .container .spec-chart {
    width: 300px;
    gap: 0px;
    margin-bottom: 30px;
  }
  .summer-chart .chart .container .spec-chart span {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    text-align: center;

  }
  .summer-chart .chart .container .spec-chart span:first-child {
    width: 200px;
	margin-right:10x;
  }
  .summer-chart .chart .container .spec-chart span:nth-child(n+2) {
    width: 120px;
	padding-right:10px;
  }
  .summer-chart .chart .container .price {
    font-size: 10px;
  }
	
	.summer-chart .chart .container .content .chart-box .kwh .cent {
  
  margin-top: -4px;
  font-size: 25px;
  font-weight: 600;
}
	
	
	
.winter-chart {
  max-width: 100%;
}
  .winter-chart .container .title h3 {
    color: #00B4EF;
    z-index: 5;
    font-size: 22px;
  }
  .winter-chart .container .title span {
    margin-top: -1px;
  }
  .winter-chart .container .title div .icon {
    z-index: 1;
  }
  .winter-chart .container .title div .icon img {
    width: 55px;
  }
  .winter-chart .chart .container .content {
    width: 380px;
  }
  .winter-chart .chart .container .content .chart-box .chartB {
    width: 65px;
  }
  .winter-chart .chart .container .content .chart-box .chartB span {
    font-size: 23px;
  }
  .winter-chart .chart .container .content .chart-box .center {
    height: 100px;
    background: #00B5EF;
  }
  .winter-chart .chart .container .spec-chart {
    width: 380px;
  }
  .winter-chart .chart .container .spec-chart span {
    width: 190px;
    font-size: 14px;
  }
  .winter-chart .chart .container .price {
    font-size: 10px;
  }
 }

